* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100vw;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-shadow: 3px 3px 8px #000000;
}

/* Header */

.header {
    color: white;
    position: relative;
    min-height: 100vh;
}

.headline {
    margin-top: 30px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-height: 100%;
}

.headline img {
    width: 300px;
    margin-bottom: 2rem;
}

.headline h1 {
    font-size: 5rem;
    font-weight: 700;
}

.headline h2 {
    font-size: 3.2rem;
    font-weight: 500;
}

.headline p {
    font-size: 1.5rem;
    margin: 1rem 0 4rem;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: 1px 1px 12px #000000;
}

.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
}

.btn:hover {
    color: #272727;
    transition: all .3s ease;
}

.btn:hover::before {
    transform: translateX(0);
}

/* End of Header ~ Start of Content*/

.content {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

.content h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin: auto 2rem 2rem;
}

.content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 7rem;
    letter-spacing: 1px;
}

.content p {
    font-size: 1.5rem;
    margin: 1rem 15% 7rem;
}

.content p:nth-child(3) {
    text-align: justify;
}

.content p:nth-child(4) {
    text-align: justify;
}

.content p:nth-child(5) {
    text-align: center;
}

.content img {
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.content .leftimg {
    float: left;
    padding-right: 4rem;
}

.content .rightimg {
    float: right;
    padding-left: 4rem;
}

.content span {
    animation: blink 2s infinite;
}

 /*  Jelovnik  */

.jelovnik {
    color: white;
    position: relative;
    min-height: 100vh;
}
  
.jk-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;
}
  
.headings h1 {
    font-size: 3.5rem;
    font-weight: 600;
}
  
.headings h2 {
    font-size: 2rem;
    font-weight: 400;
}
  
.jk-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 20%;
    margin-block: 5rem;
    gap: 3rem;
}
  
.jk-content h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
}
  
.kartica {
    padding: 2rem;
    border-radius: .5rem;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}
  
.kartica:nth-child(1) {
    grid-row: 1/3;
}
  
.kartica:nth-child(6) {
    grid-row: 4/6;
}
  
.kartica p:nth-child(odd) {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
  
.kartica p:nth-child(even) {
    text-align: right;
    color: rgb(170, 170, 170);
    padding-left: 40%;
    margin-bottom: 1rem;
    font-size: 1rem;
}
  
.gap {
    text-align: center;
    letter-spacing: 4px;
    margin-left: 15%;
    margin-bottom: 2.5rem;
}
  
.gap img {
    width: 50px;
    margin-left: 1rem;
}

.dostava {
    color: white;
    position: relative;
    min-height: 100vh;
}
  
.da-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;
}
  
.da-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-block: 3rem;
    gap: 5rem;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}
  
.da-content h2 {
    font-size: 2rem;
    font-weight: 500;
}
  
.da-content p {
    font-size: 1.5rem;
    text-align: center;
}
  
.da-content-right {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 2rem;
}
  
.da-content-images {
    display: flex;
    gap: 2rem;
}
  
.da-content img {
    width: 200px;
    border-radius: 50%;
}

.footer {
    width: 100%;
    margin: 2rem auto 1rem;
    color: #fff;
    text-align: center;
}

.footer h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.social {
    margin-top: 3.5rem;
    margin-bottom: 5rem;
}

.social ul {
    margin: auto;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin-right: 5rem;
}

.social li:last-child {
    margin-right: 0;
}

.social li a {
    display: inline-block;
    opacity: 0.4;
}

.social li a:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.social li a img {
    width: 70px;
  }

footer {
    font-size: 1.2rem;
}

@media(max-height: 900px) {
    .header {
        height: 1000px;
    }
}

@media (max-width: 1500px) {
    .jk-content {
      margin-inline: 13%;
    }
    .gap {
      margin-left: 10%;
      letter-spacing: 3px;
    } 
  }
  
  @media (max-width: 1200px) {
    .gap span:first-child{
      display: none;
    }
  }

@media(max-width: 600px) {
    * {
        overflow-x: hidden;
    }

    .header {
        min-height: 900px;
    }

    .headline {
        margin-top: 50px;
        overflow-y: hidden;
        max-height: 100%;
    }

    .headline img {
        width: 200px;
    }

    .headline h1 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .headline h2 {
        font-size: 3rem;
    }

    .headline p {
        font-size: 1.3rem;
    }

    .content {
        padding-top: 10%;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content h2 {
        font-size: 2rem;
        margin: auto 10% 6rem;
    }

    .content p {
        font-size: 1.2rem;
        margin: 1rem 10% 3rem;
    }

    .content img {
        margin: 0 10% 2rem;
        width: 80%;
    }
      
    .content .leftimg {
        float: none;
        padding: 0;
    }
      
    .content .rightimg {
        float: none;
        padding: 0;
    }

    .jk-head {
        gap: 1rem;
        margin-block: 1rem;
    }
    
    .jk-head img {
        flex: 1;
    }
    
    .headings {
        flex: 1;
    }
    
    .headings h1 {
        font-size: 2.2rem;
        font-weight: 600;
    }
      
    .headings h2 {
        font-size: 1.8rem;
    }
    
    .jk-content {
        margin-inline: 1rem;
        grid-template-columns: 1fr;
    }

    .jk-content h2 {
        font-size: 1.5rem;
    }
    
    .kartica:nth-child(1) {
        grid-row: auto;
    }
      
    .kartica:nth-child(6) {
        grid-row: auto;
    }

    .kartica p:nth-child(odd) {
        font-size: 1rem;
    }

    .gap {
        letter-spacing: 2px;
        margin-left: 2.7rem;
    }
    
    .gap img {
        width: 40px;
        margin-left: 0.5rem;
    }

    .gap span:first-child{
        display: inline;
      }

    .da-head {
        gap: 1rem;
        margin-block: 1rem;
    }
    
    .da-head img {
        flex: 1;
    }
    
    .da-content {
        padding-inline: 1rem;
    }
    
    .da-content-images img {
        width: 150px;
    }
    
    .da-content p {
        font-size: 1.3rem;
    }

    .social li {
        margin-right: 1.5rem;
    }

    .social li a:hover {
        transform: scale(1);
    }

    .footer h1 {
        font-size: 3rem;
    }

    footer {
        font-size: 1rem;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
